.table {
	width: 90%;
	box-shadow: 5px 5px 5px 5px #888888;
	margin: auto;
	margin-bottom: 50px;
}
#title {
	font-size: 24px;
	font-weight: bold;
}
#Rating{
	font-weight: bold;
}
#genres {
	color: #666;
}
#summary {
	color: #4D4D4D;
	font-size: 18px;
}
#more {
	font-weight: bold;
	font-size: 12px;
	color: #666;
}